
body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    font-size: 13px;
    color:bisque;
    text-align: center; 
}

h3 {
    font-size: 20px;
    color:aliceblue; 
    text-align: center;
}

a {
    text-align:center;
    display:block;
}

h4 {
    font-size: 13px;
    text-align: center;
    color:blanchedalmond;
}